@charset "UTF-8";
.nav_bar {
	font-size: medium;
	font-weight: bold;
}
.body_text {
	font-size: medium;
	font-weight: normal;
	margin-left: 140px;
}
.body_text table {
	background-color: #000;
	margin-left: 50px;
}
.body_text table tr th {
	background-color: #FFF;
}
.body_text table tr td {
	background-color: #FFF;
	text-align: left;
	padding-right: 5px;
	padding-left: 5px;
}
.contact_text {
	font-size: small;
	font-style: italic;
	margin-left: 140px;
	margin-top: 10px;
}

.recipe_list {
	font-size: medium;
	margin-left: 50px;
}
.img_left_float {
	float: left;
	padding-right: 20px;
}
h1 {
	font-size: x-large;
	font-weight: bold;
	text-align: center;
}
h2 {
	font-size: large;
	font-weight: bold;
}
img {
	vertical-align: bottom;
}
.food_pic {
	border: thin solid #000;
}
.conversion_chart {
	background-color: #000;
}
.recipe_hdr {
	text-align: center;
}
.body_lower {
	margin-left: 140px;
}
.nav_to_top {
	font-size: 9px;
	font-weight: normal;
	vertical-align: middle;
}
body {
	width: 950px;
	font-size: 14px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
}
.sidebar {
	float: left;
	font-size: medium;
}
.footer {
	font-size: small;
	margin-left: 140px;
}
